/* * ********ROOTELEMENT******** * */
:root {
  /* Theme */
  --color-white: #fff;
  --color-black: #000;
  --color-dark-red: #830000;
  --color-off-white: #f0f0f0;
  --color-light-blue: #60dfff;
  --color-light-gray: #949494;
  --color-theme: #008300;

  /* Transitions */
  --transition-100ms: all ease 100ms;
  --transition-200ms: all ease 200ms;
  --transition-300ms: all ease 300ms;
  --transition-400ms: all ease 400ms;
  --transition-500ms: all ease 500ms;
  --transition-600ms: all ease 600ms;

  /* Font Family */
  --font-family: "Inter", sans-serif;

  /* Body */
  --page-max-width: 90rem;

  /* Box Shadow */
  --box-shadow-light: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  --box-shadow-mid: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  --box-shadow-strong: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}

/* * ********HERO SECTION******** * */
#hero-section {
  height: fit-content;
  width: 100%;
  background-image: url("../assets/images/banner-1.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 6.6rem 0 0;
  box-shadow: var(--box-shadow-light);
}
#hero-section .center {
  height: 100%;
  width: 100%;
  position: relative;
  padding: 0 20px 16rem;
}
.hero-heading {
  padding: 2.5rem 40% 0 0;
  font-size: 4.5rem;
  line-height: 1.1;
  font-weight: 400;
}
.hero-green {
  color: var(--color-theme);
  font-weight: 600;
}
.hero-bold { font-weight: 600; }
.hero-sub__heading {
  font-weight: 600;
  font-size: 1.6rem;
  color: #747474;
  margin: 2rem 0;
}
.hero-bottoms__container {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.hero-bottoms__container a {
  padding: .75rem 2rem;
  background: var(--color-black);
  color: var(--color-white);
  border-radius: 30px;
  font-size: 1.2rem;
  text-transform: uppercase;
  transition: var(--transition-300ms);
  border: 2px solid transparent;
  font-weight: 600;
  cursor: pointer;
}
.hero-bottoms__container a:hover,
.hero-bottoms__container a:nth-child(2) {
  background: transparent;
  color: var(--color-black);
  border-color: var(--color-black);
}
.hero-bottoms__container a:nth-child(2):hover {
  background: var(--color-black);
  color: var(--color-white);
}
.hero-details__container {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin: 4rem 0 0;
}
.hero-detail {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.hero-detail h2  {
  font-size: 2rem;
}
.hero-detail p {
  font-size: 1.2rem;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 600;
}
.hero-bottom__parentContainer {
  height: 12rem;
  background: #6BB252;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 20px;
}
.hero-bottom__container:nth-child(2) {background: #374127;}
.hero-bottom__container:nth-child(3) {background: #F95F13;}
.hero-bottom__container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 0 1.5rem;
  color: var(--color-white);
}
.hero-bottom__container img {
  width: 5rem;
}
.hero-bottom__container h2 {
  font-size: 1.6rem;
  margin: 0 0 .75rem;
}
.hero-bottom__container p {
  font-size: 1.1rem;
  line-height: 1.2;
}

/* * ********CATEGORY SECTION******** * */
#cateogry-section {
  padding: 2rem 0;
}
.category-title__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 2rem;
}
.categpry-title {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
}
.buttons-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.category-button {
  height: 2.5rem;
  width: 2.5rem;
  background: #ccc;
  border-radius: 50%;
  font-size: 1.4rem;
  transition: var(--transition-300ms);
}
.category-button:hover {
  background: var(--color-black);
  color: var(--color-white);
}
.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: var(--transition-300ms);
  cursor: pointer;
}
.category:hover {
  transform: scale(.9);
}
.category img {
  border-radius: 50%;
  margin: 0 0 .5rem;
}
.category p {
  font-size: 1.1rem;
  font-weight: 600;
}

/* * ********NEW ARRIVAL SECTION******** * */
#new-arrival__section {
  padding: 5rem 0;
}
.new-arrival__titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 3rem;
}
.new-arrival__heading {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
}
#new-arrival__button {
  font-size: 1rem;
  text-transform: uppercase;
  padding: .7rem 2rem;
  background: var(--color-theme);
  font-weight: 600;
  color: var(--color-white);
  border-radius: 2rem;
  transition: var(--transition-300ms);
}
#new-arrival__button:hover { background: var(--color-black); }
.products-container__wraper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

/* * ********PRODUCT TEMPLATE******** * */
.product-card {
  padding: 1rem;
  border-radius: 20px;
  background-color: var(--color-white);
  transition: var(--transition-300ms);
  height: fit-content;
  position: relative;
  padding: 1rem 1rem 4rem;
  box-shadow: var(--box-shadow-light);
  height: 24rem;
}
.product-card:hover {
  box-shadow: var(--box-shadow-mid);
}
.product-card:hover .product-addToCart__container {
  opacity: 1;
}
.product-card .product-img__container {
  border-radius: 10px;
  background: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-card .product-img__container img {
  object-fit: contain;
  height: 11rem;
}
.product-card .product-details__container {
  padding: .5rem .4rem 0;
}
.product-card .produt-rating__container {
  display: flex;
  align-items: center;
  margin: .6rem 0 0;
  gap: 2rem;
}
.product-card .product-discount__percentage {
  font-size: .75rem;
  padding: 3px 10px;
  border: 1px solid var(--color-light-gray);
  border-radius: 5px;
}
.product-card .product-price__container {
  display: flex;
  align-items: center;
  margin: 1rem 0 0;
  gap: 1rem;
}
.product-card .product-original__price {
  font-size: .85rem;
  text-decoration: line-through;
  color: var(--color-dark-red);
}
.product-card .product-discounted__price {
  font-size: 1.1rem;
}
.product-card .product-title {
  font-size: 1.1rem;
  line-height: 1.1;
}
.product-card .product-details__container i {
  color: var(--color-theme);
  font-size: .75rem;
}
.product-card .product-addToCart__container {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: .7rem;
  left: 0;
  right: 0;
  padding: 0 1.5rem 0;
  gap: .6rem;
  height: 2.3rem;
  transition: var(--transition-300ms);
  opacity: 0;
}
.product-card .product-addToCart__container input {
  width: 3.2rem;
  border-radius: 5px;
  padding: 0 0 0 .4rem;
  font-size: 1rem;
  border: 1px solid var(--color-light-gray);
  height: 100%;
}
.product-card .product-addToCart__container button {
  width: 80%;
  font-size: 1rem;
  height: 100%;
  background: var(--color-theme);
  color: var(--color-white);
  border-radius: 10px;
  transition: var(--transition-300ms);
}
.product-card .product-addToCart__container button:hover {
  background: var(--color-black);
}
.product-card .product-addToCart__container span {
  width: 3.5rem;
  border: 1px solid var(--color-light-gray);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  transition: var(--transition-300ms);
}
.product-card .product-addToCart__container span:hover {
  background: var(--color-theme);
  color: var(--color-white);
}

/* * ********MINI BANNER SECTION******** * */
#mini-banner__section {
  padding: 3rem 0 0;
  height: 30rem;
}
#mini-banner__section .center {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  height: 100%;
}
.large-banner {
  height: 100%;
  box-shadow: var(--box-shadow-light);
  background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url("../assets/images/banner-ad-1.jpg");
  background-size: cover;
  background-position: left;
  border-radius: 8px;
  color: var(--color-white);
  display: flex;
  padding: 0 0 0 10%;
  flex-direction: column;
  justify-content: center;
}
.largeBanner-main__heading {
  font-size: 2.4rem;
}
.largeBanner-sub__heading {
  font-size: 1.5rem;
  margin: 1rem 0 3rem;
}
.largeBanner-btn, 
.miniBanner-btn {
  border-bottom: 2px solid var(--color-light-gray);
  width: fit-content;
  padding: 0 5px 5px;
  position: relative;
  transition: var(--transition-300ms);
}
.largeBanner-btn::after,
.miniBanner-btn::after {
  content: "";
  height: 1px;
  position: absolute;
  bottom: -1.5px;
  left: 0;
  border-bottom: 2px solid var(--color-light-blue);
  width: 0;
  transition: var(--transition-300ms);
}
.largeBanner-btn:hover,
.miniBanner-btn:hover { color: var(--color-light-blue); }
.largeBanner-btn:hover::after,
.miniBanner-btn:hover::after { width: 100%; }
.mini-banners__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.mini-banner {
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url("../assets/images/banner-ad-2.jpg");
  background-size: cover;
  background-position: center left;
  background-repeat: no-repeat;
  box-shadow: var(--box-shadow-light);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 0 0 10%;
  color: var(--color-white);
}
.miniBanner-main__heading {
  font-size: 2rem;
}
.miniBanner-sub__heading {
  font-size: 1.3rem;
  margin: 1rem 0 2.3rem;
}
.mini-banner:nth-child(2) { background-image:linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url("../assets/images/banner-ad-3.jpg") ;}

/* * ********FEATURE PRODUCTS SECTION******** * */
#feature-products__section {
  padding: 6rem 0 0;
}
.feature-products__heading {
  font-size: 2rem;
  text-transform: uppercase;
  margin: 0 0 2rem;
}

/* * ********FORM BANNER SECTION******** * */
#form-banner__section {
  margin: 6rem 0;
}
.form-banner__container {
  height: 25rem;
  background-image: url("../assets/images/banner-newsletter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  box-shadow: var(--box-shadow-light);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  color: var(--color-white);
  gap: 3rem;
}
.formBanner-headings__container {
  padding: 0 0 0 3rem;
}
.formBanner-heading {
  font-size: 3rem;
  line-height: 1.1;
  margin: 0 0 2rem;
}
.formBanner-sub__heading {
  font-size: 1.2rem;
}
.formBanner-form__container {
  width: 100%;
  padding: 0 3rem 0 0;
}
.input-container {
  width: 100%;
  margin: 0 0 1rem;
}
.input-container input {
  height: 2.9rem;
  background: var(--color-white);
  width: 100%;
  border: 2px solid var(--color-black);
  padding: 0 0 0 1rem;
  font-size: 1.2rem;
  border-radius: 5px;
}
.input-container p {
  padding: 0 0 0 1rem;
  font-size: .9rem;
  color: #ff4646;
  display: none;
}
.input-container p.active {
  display: block;
}
#formBannerButton {
  width: 100%;
  height: 2.9rem;
  background-color: var(--color-black);
  color: var(--color-white);
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: var(--transition-300ms);
}
#formBannerButton:hover {
  background-color: var(--color-dark-red);
}

/* * ********POPULAR SECTION******** * */
#most-popular__section {
  padding: 0 0 5rem;
  margin: 0 0 2rem;
}
.most-popular__titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 3rem;
}
.most-popular__heading {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
}
#most-popular__button {
  font-size: 1rem;
  text-transform: uppercase;
  padding: .7rem 2rem;
  background: var(--color-theme);
  font-weight: 600;
  color: var(--color-white);
  border-radius: 2rem;
  transition: var(--transition-300ms);
}
#most-popular__button:hover { background: var(--color-black); }

/* * ********FOR YOU SECTION******** * */
#for-you__section {
  padding: 0 0 4rem;
}
.for-you__titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 3rem;
}
.for-you__heading {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
}
#for-you__button {
  font-size: 1rem;
  text-transform: uppercase;
  padding: .7rem 2rem;
  background: var(--color-theme);
  font-weight: 600;
  color: var(--color-white);
  border-radius: 2rem;
  transition: var(--transition-300ms);
  display: block;
  margin: 3rem auto;
}
#for-you__button:hover { background: var(--color-black); }

/* * ********BLOGS SECTION******** * */
#blogs-section {
  padding: 0 0 4rem;
}
.blogs-title__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 2rem;
}
.blogs-section__title {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
}
#blogsViewMoreBtn {
  font-size: 1rem;
  text-transform: uppercase;
  padding: .7rem 2rem;
  background: var(--color-theme);
  font-weight: 600;
  color: var(--color-white);
  border-radius: 2rem;
  transition: var(--transition-300ms);
}
#blogsViewMoreBtn:hover { background: var(--color-black); }
.blogs-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
/* * ********BLOG CARD******** * */
.blog-card {
  border: 2px solid #ccc;
  padding: 1rem;
  border-radius: 10px;
}
.blog-card img {
  height: 15rem;
  border-radius: 5px;
}
.blog-upload_infoContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: .6rem 0 0 .5rem;
}
.blog-upload__info {
  display: flex;
  align-items: center;
  gap: .5rem;
  font-weight: 600;
  color: #5e5e5e;
}
.blog-upload__info p {
  font-size: .85rem;
}
.blog-title {
  font-size: 1.5rem;
  margin: .5rem 0 1rem;
}
.blog-details .blog-short__description {
  font-size: 1.1rem;
  line-height: 1.15;
}
/* * ********BREAKPOINT 1440px******** * */
@media screen and (max-width: 1440px) {

}

/* * ********BREAKPOINT 1280px******** * */
@media screen and (max-width: 1280px) {
  /* * ********NEW ARRIVAL SECTION******** * */
  .products-container__wraper {
    grid-template-columns: repeat(4, 1fr);
  }
  .product-card {max-width: 18.5rem;}
  .product-card .produt-rating__container {
    gap: 1rem;
  }
}

/* * ********BREAKPOINT 1080px******** * */
@media screen and (max-width: 1080px) {
  /* * ********HERO SECTION******** * */
  .hero-bottom__parentContainer { display: none; }
  #hero-section {
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url("../assets/images/banner-1.jpg");
  }
  #hero-section .center {
    padding: 0 20px 4rem;
  }

  /* * ********NEW ARRIVAL SECTION******** * */
  .products-container__wraper {
    grid-template-columns: repeat(4, 1fr);
  }
  .product-card {max-width: 18.5rem;}

  /* * ********FORM BANNER SECTION******** * */
  .form-banner__container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .formBanner-form__container,
  .formBanner-headings__container { padding: 0; }
  .formBanner-headings__container { text-align: center; }
  .form-banner__container {
    padding: 2rem 1rem;
    height: fit-content;
  }
  .input-container {
    padding: 0 15%;
    text-align: center;
  }

}

/* * ********BREAKPOINT 920px******** * */
@media screen and (max-width: 920px) {
  /* * ********NEW ARRIVAL SECTION******** * */
  .products-container__wraper {
    grid-template-columns: repeat(3, 1fr);
  }
  .product-card {max-width: 18.5rem;}
}

/* * ********BREAKPOINT 860px******** * */
@media screen and (max-width: 860px) {
  /* * ********HERO SECTION******** * */
  #hero-section {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../assets/images/banner-1.jpg");
  }
  #hero-section .center { text-align: center; }
  .hero-heading {
    text-align: center;
    padding: 3rem 0 0;
  }
  .hero-sub__heading {
    color: var(--color-black);
  }
  .hero-bottoms__container {
    justify-content: center;
  }
  .hero-details__container {
    justify-content: center;
  }
  /* * ********MINI BANNER SECTION******** * */
  #mini-banner__section {
    height: 28rem;
  }
  #mini-banner__section .center {
    display: grid;
    grid-template-columns: 1fr;
  }
  .mini-banners__container {display: none;}

  /* * ********BLOGS SECTION******** * */
  .blogs-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* * ********BREAKPOINT 768px******** * */
@media screen and (max-width: 768px) {
  /* * ********NEW ARRIVAL SECTION******** * */
  .product-card .product-addToCart__container {
    opacity: 1;
  }
  .product-card {
    height: 25.5rem;
  }
  .product-card input {
    display: none;
  }
}

/* * ********BREAKPOINT 576px******** * */
@media screen and (max-width: 576px) {

}

/* * ********BREAKPOINT 576px******** * */
@media screen and (max-width: 530px) {
  /* * ********NEW ARRIVAL SECTION******** * */
  .products-container__wraper {
    grid-template-columns: repeat(2, 1fr);
  }
  .product-card {
    max-width: unset;
    height: 25rem;
    border-radius: 5px;
  }
}


/* * ********BREAKPOINT 576px******** * */
@media screen and (max-width: 480px) {
  /* * ********HERO SECTION******** * */
  .hero-details__container {
    display: none;
  }

  /* * ********FORM BANNER SECTION******** * */
  .formBanner-heading {
    font-size: 2rem;
  }
  .input-container {
    padding: 0 5%;
  }

  /* * ********BLOGS SECTION******** * */
  .blogs-container {
    grid-template-columns: 1fr;
  }
}

/* * ********BREAKPOINT 576px******** * */
@media screen and (max-width: 360px) {
}

/* JS CLASSES */
.redBorder { border-color: var(--color-dark-red) !important;}
.greenBorder { border-color: var(--color-theme) !important;}