/* * ********ROOTELEMENT******** * */
:root {
  /* Theme */
  --color-white: #fff;
  --color-black: #000;
  --color-dark-red: #830000;
  --color-off-white: #f0f0f0;
  --color-light-blue: #60dfff;
  --color-light-gray: #949494;
  --color-theme: #008300;

  /* Transitions */
  --transition-100ms: all ease 100ms;
  --transition-200ms: all ease 200ms;
  --transition-300ms: all ease 300ms;
  --transition-400ms: all ease 400ms;
  --transition-500ms: all ease 500ms;
  --transition-600ms: all ease 600ms;

  /* Font Family */
  --font-family: "Inter", sans-serif;

  /* Body */
  --page-max-width: 90rem;

  /* Box Shadow */
  --box-shadow-light: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  --box-shadow-mid: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  --box-shadow-strong: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}

/* * ********RESET DEFAULT STYLES******** * */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style-type: none; }

h1,
h2,
h3,
h4,
h5,
h6 { line-height: 1.2; }

img,
video {
  width: 100%;
  object-fit: cover;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

p { line-height: 1.56; }

input,
textarea,
button {
  border: none;
  background: none;
  outline: none;
  font-family: var(--font-family);
}

button { cursor: pointer; }

html {
  font-family: var(--font-family);
  font-size: 16px;
}

body {
  background: var(--color-off-white);
  line-height: 1.7;
}

/* * ********PREBUILD CLASSES******** * */
.center {
  margin: 0 auto;
  max-width: var(--page-max-width);
  padding: 0 20px;
}

/* * ********LOADING SCREEN******** * */
.loading-screen {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--color-white);
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: var(--transition-300ms);
}
.loading-screen.active {
  height: 0;
}
.rings-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.ring {
  height: 2rem;
  width: 2rem;
  background: var(--color-theme);
  border-radius: 50%;
}
.ring:nth-child(1) { animation: ringOne 1s linear infinite; }
.ring:nth-child(2) { animation: ringTwo 1s linear infinite; }
.ring:nth-child(3) { animation: ringOne 1s linear infinite; }
.ring:nth-child(4) { animation: ringTwo 1s linear infinite; }

.loading-logo {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 13rem;
}
@keyframes ringOne {
  0% {transform: translateX(0) translateY(0);}
  33% {transform: translateX(0) translateY(-3rem);}
  66% {transform: translateX(3rem) translateY(-3rem);} 
  100% {transform: translateX(3rem) translateY(0rem);} 
}
@keyframes ringTwo { 100% {transform: translateX(-3rem);} }

/* * ********HEADER******** * */
#main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: var(--color-white);
  box-shadow: var(--box-shadow-light);
}
.top-header__container {
  height: 1.563rem;
  background: var(--color-black);
  color: var(--color-white);
  overflow: hidden;
  transition: var(--transition-200ms);
}
.top-header__container.active { height: 0; }
.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.top-header {
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: .2px;
}
.top-header__listContainer {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 3rem;
}
.top-header__listContainer li a {
  position: relative;
  transition: var(--transition-300ms);
  padding: 0 1.5px;
}
.top-header__listContainer li a::after {
  content: "";
  height: 1px;
  width: 0%;
  position: absolute;
  bottom: -2px;
  border-bottom: 2px solid var(--color-light-blue);
  left: 50%;
  transform: translateX(-50%);
  transition: var(--transition-300ms);
}
.top-header__listContainer li a:hover { color: var(--color-light-blue); }
.top-header__listContainer li a:hover::after {width: 100%;}

/* * ********NAVBAR******** * */
#navbar {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo { width: 15rem; }

/* * ********SEARCH SECTION******** * */
.search-sideMenuIcon__container {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 4rem;
}
#open-sideMenu__btn { display: none; }
.search-container {
  display: flex;
  align-items: center;
  height: 2.5rem;
  border: 1px solid var(--color-light-gray);
  width: 100%;
  border-radius: 5px;
  position: relative;
}
#main-search {
  width: 100%;
  height: 100%;
  font-size: 1.1rem;
  padding: 0 0 0 10px;
}
#search-button {
  width: 3rem;
  height: 100%;
  background: var(--color-black);
  color: var(--color-white);
  font-size: 1rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: var(--transition-300ms);
}
#search-button:hover { background: var(--color-dark-red);}

/* * ********SEARCH RESULTS CONTAINER******** * */
.search-results__container {
  position: absolute;
  width: 100%;
  background: var(--color-white);
  height: 0;
  top: 120%;
  box-shadow: var(--box-shadow-mid);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: var(--transition-200ms);
  overflow: hidden;
}
.search-results__container.active { height: 65vh; }
.search-results__innerContainer {
  height: 100%;
  width: 100%;
  padding: 1rem;
}
.search-results__titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 20px;
}
.search-results__titleContainer h2, .search-results__titleContainer p {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 500;
}
.results_container {
  height: 92%;
  overflow-y: scroll;
  padding: 0 1rem 0 0;
}
.results_container::-webkit-scrollbar { width: 8px; }
.results_container::-webkit-scrollbar-thumb {
  background: var(--color-light-gray); 
  border-radius: 20px;
}
.results_container::-webkit-scrollbar-thumb:hover { background: var(--color-light-black); }

/* * ********SEARCH RESULT PRODUCT CARD******** * */
.search-product__card {
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: var(--transition-300ms);
  padding: 1rem;
  border-radius: 8px;
  margin: 0 0 1rem;
}
.search-product__card:hover {
  background: #dfdfdf;
}
.search-product__card .search-product__imgContainer {
  background: var(--color-white);
  border-radius: 5px;
}
.search-product__card img {
  width: 10rem;
  aspect-ratio: 1;
  object-fit: contain;
  border-radius: 5px;
}
.search-product__card .search-product__title {
  font-size: 1.2rem;
}
.search-product__card .search-product__description {
  font-size: .9rem;
  line-height: 1.1;
  margin: .4rem 0 .75rem;
}
.search-product__card .rating-percentage__container {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.search-product__card .rating-container {
  display: flex;
  align-items: center;
  gap: .35rem;
}
.search-product__card i {
  font-size: .8rem;
  color: var(--color-theme);
}
.search-product__card .search-result__percentage {
  border: 1px solid var(--color-light-gray);
  padding: 2px 1rem;
  font-size: .75rem;
  border-radius: 5px;
}
.search-product__card .price-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: .6rem 0 0;
}
.search-product__card .original-price {
  font-size: .9rem;
  color: var(--color-dark-red);
  text-decoration: line-through;
}
.search-product__card .discounted-price {
  font-size: 1rem;
}
/* * ********AFTER LOGIN******** * */
.after-login__container {
  display: none;
  align-items: center;
  gap: 2rem;
  position: relative;
}
.after-login__container.active { display: flex; } 
.after-login__container img { width: 2.8rem; }
.after-login__container a {
  position: relative; 
  cursor: pointer;
}
.after-login__container .dropdown-icon__container {
  height: 1rem;
  width: 1rem;
  background: var(--color-black);
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .75rem;
}

/* * ********PROFILE DROPDOWN CONTAINER******** * */
.profile-dropdown__container {
  height: 0;
  width: 15rem;
  position: absolute;
  background: var(--color-white);
  top: 120%;
  right: 0;
  z-index: 3000;
  box-shadow: var(--box-shadow-mid);
  overflow: hidden;
  border-radius: 8px;
  transition: var(--transition-100ms);
}
.profile-dropdown__container.active { height: 16rem; }
.profile-dropdown__innerContainer { padding: 10px 1rem; }
.profile-dropdown__innerContainer li {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0 0 10px;
}
.profile-dropdown__innerContainer li i {
  font-size: 1.5rem;
  width: 2.2rem;
}
.profile-dropdown__innerContainer li a {
  transition: var(--transition-300ms);
  cursor: pointer;
}
.profile-dropdown__innerContainer li a:hover {color: var(--color-dark-red);}

/* * ********BEFORE LOGIN******** * */
.before-login__continer {
  display: none;
  align-items: center;
  gap: 1rem;
  white-space: nowrap;
  font-size: 1.2rem;
  font-weight: 600;
}
.before-login__continer.active {display: flex;}
.before-login__continer a {transition: var(--transition-300ms);}
.before-login__continer a:hover {color: var(--color-dark-red);}

/* * ********SIDEMENU CONTAINER******** * */
.side-menu__container {
  height: 100%;
  width: 0;
  background: var(--color-white);
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  box-shadow: var(--box-shadow-mid);
  overflow: hidden;
  transition: var(--transition-200ms);
}
.side-menu__container.active { width: 50vw; }
.sideMenu-inner__container {
  height: 100%;
  width: 100%;
  padding: 6rem 1.5em 1rem;
  overflow-y: scroll;
}
.sideMenu-inner__container::-webkit-scrollbar {display: none;}
#close-sideMenu__btn {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 2.5rem;
  transition: var(--transition-300ms);
}
#close-sideMenu__btn:hover {color: var(--color-theme);}

/* * ********SIDEMENU BEFORE LOGIN******** * */
.sideMenu-before__container {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  border-bottom: 1px solid var(--color-light-gray);
  padding: 0 0 3rem;
}
.sideMenu-before__container.active { display: flex; }
.sideMenu-before__container a, 
.sideMenu-before__container p {
  text-transform: uppercase;
  font-size: 1.6rem;
}
.sideMenu-before__container a {
  font-weight: 600;
  transition: var(--transition-300ms);
}
.sideMenu-before__container a:hover { color: var(--color-theme); }

/* * ********SIDEMENU AFTER LOGIN******** * */
.sideMenu-after__loginContainer {
  background: var(--color-light-blue);
  border-radius: 2rem;
  box-shadow: var(--box-shadow-light);
  display: none;
}
.sideMenu-after__loginContainer.active {display: block;}
.sideMenu-user__container { 
  padding: 1.3rem 2rem; 
  cursor: pointer;
  border-radius: 2rem;
  transition: var(--transition-300ms);
}
.sideMenu-user__container:hover {
  background: #5dd0ec;
}
.sideMenu-user__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sideMenu-user__container .img-name__container { 
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  font-size: 1.5rem;
}
.sideMenu-user__container .img-name__container img {
  width: 4rem;
}
.sideMenu-user__container i { font-size: 1.5rem; }
.sideMenu-user__listContainer {
  height: 0;
  padding: 0 2rem 0;
  overflow: hidden;
}
.sideMenu-user__listContainer.active {
  padding: 0 2rem 1.5rem;
  height: fit-content;

}
.sideMenu-user__listContainer li {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  border-bottom: 1px solid var(--color-light-gray);
  padding: 3rem 1rem .8rem;
}
.sideMenu-user__listContainer li i {
  font-size: 2.3rem;
  width: 3.4rem;
}
.sideMenu-user__listContainer li a {
  transition: var(--transition-300ms);
  cursor: pointer;
}
.sideMenu-user__listContainer li a:hover {color: var(--color-theme);}

.sideMenu-list__container {
  padding: 0 1rem 0;
  margin: 1.5rem 0 0;
}
.sideMenu-list__container li {
  padding: 3rem 1.5rem 1rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 600;
  border-bottom: 1px solid var(--color-light-gray);
}
.sideMenu-list__container li a {transition: var(--transition-300ms);}
.sideMenu-list__container li a:hover {color: var(--color-theme);}




/* * ********BREAKPOINT 1440px******** * */
@media screen and (max-width: 1440px) {
  html { font-size: 15px; }
  :root { --page-max-width: 90%; }
}

/* * ********BREAKPOINT 1280px******** * */
@media screen and (max-width: 1280px) {
  html { font-size: 14px; }
  :root { --page-max-width: 94%; }

}

/* * ********BREAKPOINT 1080px******** * */
@media screen and (max-width: 1080px) {
  html { font-size: 13px; }
  :root { --page-max-width: 96%; }

  /* * ********HEADER******** * */
  .header-icons__container  {display: none; }
  #open-sideMenu__btn {
    display: block;
    font-size: 2rem;
    transition: var(--transition-300ms);
  }
  #open-sideMenu__btn:hover {color: var(--color-theme);}
  .search-sideMenuIcon__container {
    gap: 2rem;
    margin: 0 0 0 3rem;
  }
  
  /* * ********SIDEMENU CONTAINER******** * */
  .side-menu__container { display: block; }
}

/* * ********BREAKPOINT 860px******** * */
@media screen and (max-width: 860px) {
  html { font-size: 12px; }
  /* * ********HEADER******** * */
  .top-header__listContainer {display: none;}
  .top-header { justify-content: center; }
  .sologon {font-size: 1.1rem;}
  #navbar {
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
    height: 6rem;
    gap: .5rem;
  }
  .logo {width: 9rem;}
  .search-sideMenuIcon__container {
    margin: 0;
    width: 100%;
  }
  #open-sideMenu__btn {
    font-size: 2.2rem;
  }
}

/* * ********BREAKPOINT 768px******** * */
@media screen and (max-width: 768px) {
  html { font-size: 11px; }
  :root { --page-max-width: 98%; }

  /* * ********SIDEMENU CONTAINER******** * */
  .side-menu__container.active {width: 55vw;}
}

/* * ********BREAKPOINT 576px******** * */
@media screen and (max-width: 576px) {
  html { font-size: 10px; }
  :root { --page-max-width: 100%; }

  .top-header__container {display: none;}

  /* * ********SIDEMENU CONTAINER******** * */
  .side-menu__container.active {width: 75vw;}
}

/* * ********BREAKPOINT 576px******** * */
@media screen and (max-width: 480px) {
  html { font-size: 9px; }
  /* * ********SEARCH RESULT PRODUCT CARD******** * */
  .search-product__card .search-product__imgContainer, 
  .search-product__card .search-product__description,
  .search-product__card .rating-percentage__container,
  .search-product__card .price-container { display: none; }
  .search-product__card .search-product__title { font-size: 1.5rem; }
  .search-results__titleContainer { margin: 0 0 1rem; }
  .search-product__card {padding: .5rem 1rem;}

  /* * ********SIDEMENU CONTAINER******** * */
  .side-menu__container.active { width: 95%; }
}

/* * ********BREAKPOINT 576px******** * */
@media screen and (max-width: 360px) {
  html { font-size: 8px; }
}
